<h3>this is create</h3>
<form class="form-signin" method="POST" action="/dashboard/create" enctype="multipart/form-data">
  
  <h1 class="h3 mb-3 font-weight-normal">create</h1>

  <input type="hidden" name="_id" value="<%=userId%>">
  <label for="name" class="sr-only">naslov</label>
  <input type="text" style="margin-bottom:10px;" id="name" name="name" class="form-control" placeholder="naziv" required autofocus="">

  <label for="description" class="sr-only">opis</label>
 
  <textarea name="description" style="margin-bottom:10px;" id="description" cols="30" rows="10" class="form-control" placeholder="opis"></textarea>

  <label for="city" class="sr-only">kraj</label>
  <input type="text" style="margin-bottom:10px;" id="city" name="city" class="form-control" placeholder="kraj" required autofocus="">
  
  <select name="type">
    <option value="1">1 sobno</option>
    <option value="2">2 sobno</option>
    <option value="3">3 sobno</option>
    <option value="4">4 sobno</option>
  </select>

  <div class="checkbox mb-3">
    <input type="checkbox" name="ac" value="1"> Klima<br>
    <input type="checkbox" name="parking" value="1"> Park plac<br>
    <input type="checkbox" name="balcony" value="1"> Balkon<br>
  </div>

  
  <label for="pictures" class="">Izberite glavno sliko</label>
  <input type="file" multiple style="margin-bottom:10px;" id="mainpic" name="mainpic" class="form-control" required>

  <label for="pictures" class="">Izberite slike za gelerijo</label>
  <input type="file" multiple style="margin-bottom:10px;" id="pictures" name="pictures" class="form-control">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Ustvari oglas</button>
</form>