<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>

<% include partials/menu %>

<div class="dashboard-container">
  <div class="sidebar">
    <%
    try {
      
    
    
    %>
    <%if(session.userId != undefined && session.userId != ''){%>
      <a href="/dashboard">Moji oglasi</a>
      <a href="/dashboard/create">Dodaj oglas</a>
      <a href="/dashboard/logout">Odjava</a>
    <%}else{%>
      <a href="/dashboard/register">Registracija</a>
      <a href="/dashboard/login">Prijava</a>
    <%}%>
    
    <%
    }
    catch(err) {
      console.log(err);
    }
    %>
  </div>

  <div class="container-fluid bg-3 text-center">    
    

    <%- body %>

  </div>
  
</div>
</body>
<% include partials/script %>
</html>