<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>

<% include partials/menu %>

<div class="dashboard-container">
  <div class="sidebar">
    <a href="/">Moji oglasi</a>
    <a href="/newadd">Dodaj oglas</a>
    <a href="/editprofile">Uredi profil</a>
  </div>

  <div class="container-fluid bg-3 text-center">    
    <h3><%= page %></h3>

    <%- body %>

  </div>
  
</div>
</body>
<% include partials/script %>
</html>