<form class="form-signin" method="POST" action="/dashboard/register">
  
  <h1 class="h3 mb-3 font-weight-normal">Prijava</h1>

  <label for="logemail" class="sr-only">Email</label>
  <input type="email" style="margin-bottom:10px;" id="logemail" name="logemail" class="form-control" placeholder="Email address" required autofocus="">

  <label for="inputPassword" class="sr-only">Geslo</label>
  <input type="password" style="margin-bottom:10px;" id="logpassword" name="logpassword" class="form-control" placeholder="Password" required>

  <div class="checkbox mb-3">
    <a href="//localhost:9000/dashboard/register">registracija</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
</form>