<form class="form-signin" method="POST" action="/dashboard/register">
  
  <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>

  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" style="margin-bottom:10px;" id="email" name="email" class="form-control" placeholder="Email address" required autofocus="">
  
  <label for="username" class="sr-only">username</label>
  <input type="text" style="margin-bottom:10px;" id="username" name="username" class="form-control" placeholder="Uporabniško ime" required autofocus="">

  <label for="inputPassword" class="sr-only">Geslo</label>
  <input type="password" style="margin-bottom:10px;" id="password" name="password" class="form-control" placeholder="Password" required>
  <label for="passwordConf" class="sr-only">Potrdi geslo</label>
  <input type="password" style="margin-bottom:10px;" id="passwordConf" name="passwordConf" class="form-control" placeholder="Potrdi geslo" required>

  <div class="checkbox mb-3">
    <a href="//localhost:9000/dashboard/login">prijava</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registracija</button>
</form>